body {
  font-family: 'Ubuntu Mono', monospace;
  width: 200%;
  padding: 2em;
}
header {
  margin-bottom: 10em;
}
.cvrow {
  border-top:1px solid #ccc;
  padding: 0.75em 0 0.75em 0;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay:0s ;
  animation-name: show-row;
  max-height: 0;
}
.cvrow:last-child {
  border-bottom:1px solid #ccc;
  margin-bottom: 5em;
}
@keyframes show-row {
    0%      {opacity:0; max-height: 0;}
    100%    {opacity:1; max-height: 100%;}
}
.cvitem {
  display: block;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}
a.cvitem:hover {
  color: #ccc;
}
.itembar {
  position: relative;
  border-bottom: 2px solid #ccc;
  height: 1em;
  padding: 0 0 0.2em 0;
  margin: 0 0 0.2em 0;
  min-width: 10em;
  color: #ccc;
}
.cvitem .item-enddate{
  position: absolute;
  left: 0;
  top:0;
}
.cvitem .item-startdate{
  position: absolute;
  right: 0;
  top:0;
}