<!doctype html>
<html>
<head>
  <title>Lukas Pilka CV</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i&display=swap" rel="stylesheet">
</head>
<body>

<style>
<!--
{% for item in range(0,cvitems|length+3) %}
    .cvitem:nth-child({{ cvitems|length+3 - item }})  {animation-delay: {{ item * 250 }}ms;}
{% endfor %}
-->

</style>

<header>
  <h1>Lukas Pilka</h1>
  <p>
    Born 1986<br>
    Lives in Prague, Czech Republic, EU<br>
    Cell: +420 774 502 521<br>
    pilka@blueghost.cz<br>
  </p>
</header>

<!--{{ now }} {{ historyStartDate }} {{ HistoryDaysCount }}-->
{% for item in expandedItems|sort(attribute='dateFrom', reverse=True) %}

  {% if item.url is defined %}
    <a href="{{ item.url}}" class="cvitem" target="_blank" style="margin-left: {{ item.daystonow / HistoryDaysCount * 100}}%">
      <div class="itembar" style="width: {{ item.dayscount / HistoryDaysCount * 100}}%">
        <div class="item-enddate">
        {% if item.dateTo is defined and item.dateTo != item.dateFrom %}
          {{item.dateTo.strftime('%m/%Y')}}
        {% elif item.dateTo is defined and item.dateTo == item.dateFrom %}
          Published:
        {% else %}
          ?
        {% endif %}
        </div>
        <div class="item-startdate">
          {{item.dateFrom.strftime('%m/%Y')}}
        </div>
      </div>
      <div class="item-subject">
        <strong>{{ item.subject}}</strong> |&nbsp;{{ item.category}} |&nbsp;{{ item.description}}
      </div>
    </a>

  {% else %}
    <div class="cvitem" style="margin-left: {{ item.daystonow / HistoryDaysCount * 100}}%">
      <div class="itembar" style="width: {{ item.dayscount / HistoryDaysCount * 100}}%">
        <div class="item-enddate">
        {% if item.dateTo is defined and item.dateTo != item.dateFrom %}
          {{item.dateTo.strftime('%m/%Y')}}
        {% elif item.dateTo is defined and item.dateTo == item.dateFrom %}
          Published:
        {% else %}
          ?
        {% endif %}
        </div>
        <div class="item-startdate">
          {{item.dateFrom.strftime('%m/%Y')}}
        </div>
      </div>
      <div class="item-subject">
        <strong>{{ item.subject}}</strong> |&nbsp;{{ item.category}} |&nbsp;{{ item.description}}
      </div>
    </div>
  {% endif %}

{% endfor %}

</body>
</html>